@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.field.error input {
    border:1px solid #EF4444!important;
}

.loading:before {
    content: "";
    display: inline-block;
    height: 1rem!important;
    width: 1rem!important;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid white;
    border-color: white transparent white transparent;
    animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}