{% set modules = readThemeModules(template_path,template_modules) %}

{% for module in modules %}  
    {% for item in module.navbar.menu %}  
    <div class="{{ styles.item.class }}">
        <a 
            class="flex flex-row items-center {{ styles.item.color }} {{ (active == item.key) ? styles.item.active : '' }}" 
            href="{{ url(item.url) }}">
            {% if item.icon is not empty %}
                <div class="px-1">
                    {{ component(item.icon,styles.icon,'svg') }}  
                </div>                           
            {% endif %}
            {{ item.title }}
        </a>
    </div>             
    {% endfor %}  
{% endfor %}
            
{% if service('access').isLogged() == false %}  
    {% for item in items.user %}  
    <div class="{{ styles.item.class }}">
        <a 
            class="flex flex-row items-center {{ styles.item.color }} {{ (active == item.key) ? styles.item.active : '' }}" 
            href="{{ url(item.url) }}">
            {% if item.icon is not empty %}
                <div class="px-1">
                    {{ component(item.icon,styles.icon,'svg') }}  
                </div>                           
            {% endif %}
            {{ item.title }}
        </a>
    </div>             
    {% endfor %}    
{% else %}
    <div class="{{ styles.item.class }}">
        <a 
            class="flex flex-row items-center {{ styles.item.color }} {{ (active == item.key) ? styles.item.active : '' }}" 
            href="{{ url(items.dashboard.url) }}">
            {% if items.dashboard.icon is not empty %}
                <div class="px-1">
                    {{ component(items.dashboard.icon,styles.icon,'svg') }}  
                </div>                           
            {% endif %}
            {{ items.dashboard.title }}
        </a>
    </div>    
{% endif %}