<footer 
    class="block w-full">    
    <div 
        class="p-4 {{ styles.class }} grid xs:grid-cols-1 grid-cols-4 gap-x-4 gap-y-1 md:grid-cols-4">
        <div class="md:col-span-2 lg:col-span-1 col-span-1">
            <div class="flex flex-row items-center">  
                <div class="rounded-full">              
                    {{ component('material-icons~dashboard',{ size: 'h-10 w-10', color: 'text-orange-500' },'svg') }}                
                </div>                                                                         
                <div class="pl-2">                
                    <div 
                        class="inline-block align-baseline text-xl font-medium hover:text-white transition duration-700 ease-in-out">
                        <a href="{{ url('') }}" class="align-baseline text-stone-100 kaushan-script-regular">
                            {{ title }}    
                        </a>
                    </div>                                                    
                </div>                                                                   
            </div>
            <div 
                class="px-1 pt-2 flex flex-row items-center">   
                <div class="w-4">
                    {{ component('material-icons~copyright',styles.icon,'svg') }}          
                </div>           
                <div class="px-1 text-left {{ styles.copyright.color }}">       
                    {{ copyright|renderText({ interval: currentYear() }) }}             
                </div>                                 
            </div> 
        </div> 
        {% for column in columns %}
        <div>           
            {% for item in column.items %}
                <a class="{{ styles.item.class }}" href="{{ url(item.url) }}">
                    {{ component(item.icon,styles.icon,'svg') }} 
                    <span class="px-2 {{ styles.item.color }}">               
                        {{ item.title }}
                    </span> 
                </a>  
            {% endfor %}       
        </div> 
        {% endfor %} 
    </div>
</footer>