{% set icon_size = icon_size|default('h-6 w-6') %}
{% set icon_color = icon_color|default('text-sky-400') %}
<div class="{{ class }} {{ space_class|default('my-2') }} {{ text_class|default('font-semibold') }}">
    <div class="flex flex-row items-center ">
        {{ component('icons~mail',{ size: icon_size, color: icon_color },'svg') }}    
        <div class="px-1">{{ address.email }}</div>
    </div>
    <div class="flex flex-row items-center ">
        {{ component('icons~phone',{ size: icon_size, color: icon_color },'svg') }}    
        <div class="px-1">{{ address.phone }}</div>
    </div>
    <div class="flex flex-row items-center ">
        {{ component('icons~address',{ size: icon_size, color: icon_color },'svg') }}    
        <div class="px-1">{{ address.street }}</div>
    </div>
</div>