<div
    class="{{ class|default('mt-4') }}">
    <div class="flex flex-row">
        <div class="flex-grow">
            <button 
                loading-class="{{ loading_class|default('loading') }}"
                class="submit-button cursor-pointer 
                {{ styles.submit.class }} {{ styles.submit.color }} {{ styles.submit.border }}" 
                {{ tooltip|attr('title') }}>
                {{ button_title|default(buttons.save.title) }}
            </button>     
        </div>
        {% if cancel is not empty %}
        <div class="content-end place-content-end">
            <a 
                class="inline-block self-end justify-self-end cancel-button cursor-pointer 
                {{ styles.cancel.class }} {{ styles.cancel.color }} {{ styles.cancel.border }}" 
                {{ tooltip|attr('title') }}>
                {{ cancel_title|default(buttons.cancel.title) }}
            </a>  
        </div>
        {% endif %}
    </div>   
    <div class="{{ message.class|default('h-16') }}">
        {% if hide_errors != true %}    
        <div         
            {{ message_error_id|attr('id') }}
            class="errors error message invisible error-message {{ message.error|default('py-4 text-sm text-red-500 font-semibold') }}">
        </div>        
        {% endif %} 
        <div
            {{ message_success_id|attr('id') }} 
            class="success invisible message {{ message.success|default('py-4 text-sm text-green-600 font-semibold') }}">        
        </div>  
    </div>   
</div>